#nav_menu ul{
	list-style-type: none;
	padding-left: 0px;	/* 좌측 여백 제거 */
	float: right;	/* 우측 정렬 */
}

#nav_menu ul li{
	display: inline;
	border-left: 1px solid #c0c0c0;
	
	padding: 0px 10px 0px 10px;	/* padding 간격 위 오른쪽 아래 위쪽 */
	margin: 5px 0px 5px 0px	/* margin 간격 위 오른쪽 아래 왼쪽 */
}

#nav_menu ul li:first-child {
	border-left: none;
}