/* #nav_menu{
	margin: 0 auto;
}
#nav_menu ul{
	list-style-type: none;
	padding-left: 0px;	좌측 여백 제거
	float: right;	우측 정렬
	height: 30px;
	width: 100%;
	background-color: silver;
}

#nav_menu ul li{
	display: inline;
	border-left: 1px solid #c0c0c0;
	
	padding: 0px 10px 0px 10px;	padding 간격 위 오른쪽 아래 위쪽
	margin: 5px 0px 5px 0px	margin 간격 위 오른쪽 아래 왼쪽
}

#nav_menu ul li:first-child {
	border-left: none;
} */

/* font */
@import url('https://fonts.googleapis.com/css?family=Gamja+Flower&display=swap');

/* header */
*{
	font-family: 'Gamja Flower';
	margine: 0; padding: 0;
}
li{
	font-family: 'Gamja Flower';
	list-style: none;
}
a{
	font-family: 'Gamja Flower';
	text-decoration: none;
}

header{
	font-family: 'Gamja Flower';
	height: 75px; background-color: #006F84; border: 1px solid #253342;
	width: 100%; z-index: 9999; top: 0; left: 0;
}

h1{
	font-family: 'Gamja Flower';
	color: black; line-height: 40px; float: left; 
}

.loginh1{
	color: white; line-height: 40px; float: left;
}
.menu{
	float: right;
}
.menu li{
	float: left;
}
.menu a{
	line-height: 50px; color: white; padding: 0 15px; display: block;
}

.wrapper{
	width: 1170px; margin: 0 auto;
}
.wrapper h1{
	color: white;
}
.clearfix{
	content: ''; display: block; clear: both;
}


/* type grid layout */
.typeWrapper{
	/* padding: 75px 0px 0px 0px;	padding 간격 위 오른쪽 아래 위쪽 */
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 200px;
	text-align: center;
	font-size: 30px;
	vertical-align: middle;
}

.typeWrapper div{
	cursor: pointer;
	padding: 80px 0px 0px 0px;	/* padding 간격 위 오른쪽 아래 위쪽 */
	border: 1px solid black;
}
.typeWrapper img{
	border:3px solid red;
	width: 40px;
	heidht: 40px;
	align: conter;
	alt: '이미지 준비중' 
}

table{
	font-family: 'Gamja Flower', sans-serif;
	width: 50%;
	/* margin-left: auto;
	margin-right: auto; */
	align: center;
	border-top: 3px solid #444444;
	border-collapse: collapse;
}
th{
	font-family: 'Gamja Flower';
	font-size: 20px;
	text-align: center;
	padding: 10px;
	border: 1px solid #ddd;
}
td{
	font-family: 'Gamja Flower';
	font-size: 15px;
	text-align: center;
	padding: 10px;
	border: 1px solid #ddd;
}

.trc{
	cursor: pointer;
}



/* login */
.login{
	font-family: 'Gamja Flower';
	position: absolute;
	top: 50%; left: 50%;
	border-radius: 30px;
	
	transform: translate(-50%, -40%);
	
	width: 500px;
	height: 600px;
	margin: auto;
	background-color:  #006F84;
	text-align: center;
}

.login form{
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
}

.login input{
	font-size: 20px;
	padding-left: 10px;
	border-style: none;
	margin-top: 20px;
	width: 300px;
	line-height: 50px;
	border-radius: 5px;
	
	color: #424242;
}

.login a{
	position: relative;
	top: 15px; left: 5px;
	
	text-decoration: underline;
	
	color: white;
}

.login h1{
	font-size: 60px;
	position: relative;
	top: 20px; left: 50px;
}
.login h2{
	font-size: 40px;
	position: relative;
	top: 10px; 
	color: white;
}

#first{
	position: relative;
	left: 10px;
	color: black;
}

.button{
	cursor: pointer;
}


/* retaurant information & menu */
.rwrapper{
	display: inline-block;
	min-width: 1200px;
	
	margin-top: 10px;
	margin-left: 150px;
}

.rname{
	font-family: 'Gamja Flower';
	font-size: 50px;
	font-weight: bold;
	display: inline;
	width: 500px;
	float: left;
	text-align: center;
	
	margin-top: 30px;
}

.rinfo{
	font-family: 'Gamja Flower';
	font-size: 25px;
	font-weight: bold;
	diplay: inline;
	width: 400px;
	float: left;
	
}
.rinfo li{
	list-style: circle;
}

#menu{
	font-family: 'Gamja Flower';
	font-size: 40px;
	font-weight: bold;
	width: 900px;
	margin: none;
	margin-left: 330px;
	padding-bottom: 10px;
	border-bottom: 1px solid #253342;
	
}
.food{
	font-family: 'Gamja Flower';
	margin-left: 330px;
	display: block;
}

.mname{
	font-family: 'Gamja Flower';
	font-size: 20px;
	font-weight: bold;
	display: inline;
}

.mprice{
	font-family: 'Gamja Flower';
	font-size: 20px;
	font-weight: bold;
	width: 600px;
	display: inline;
	float: right;
}

.food li{
	margin-bottom: 10px;
}

/* review */
.review{
	font-family: 'Gamja Flower';
	position: absolute;
	top: 50%; left: 50%;
	border-radius: 30px;
	
	transform: translate(-50%, -40%);
	
	width: 500px;
	height: 600px;
	margin: auto;
	background-color:  #006F84;
	text-align: center;
}